h1, h6 {
    text-align: center;
}

textarea {
    max-height: 200px;
}

.dropdown-menu {
    max-width: 250px;
}

#city {
    max-width: 220px;
}

/* adding scroll bar from https://stackoverflow.com/questions/40112618/bootstrap4-adding-scrollbar-to-div */
#reviews {
    height: 250px;
    width: 400px;
    overflow-y: auto;
}

/* https://stackoverflow.com/questions/53871453/position-of-absolute-element-changes-when-innerhtml-is-changed
fixes the problem where changing inner html would shift the element */
#search-form, #searchTypeName, #formCollapse {
    width: 100vw;
}

#imgCarousel {
    max-width: 600px; /* Set a maximum width for the carousel */
    margin: auto; /* Center the carousel on the page */
}

#imgHolder img {
    max-width: 100%; /* Ensure images inside the carousel don't exceed the container width */
    height: auto; /* Maintain the aspect ratio of images */
}